<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SCE.MainGear.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Mode"  value="Interval" />
    <add key="IntervalMinutes"  value="60" />
    <add key="ScheduledTime"  value="12:00" />
    <add key="ProductArraySize"  value="40" />
    <add key="SceApiKey"  value="kzlfxtdt1sybn5qcktuapm" />
    <add key="SceApiSecretKey"  value="ktzeqgpxh5xnvet0habo0n" />
    <add key="SceApiAccessKey"  value="SlzkF/Ow4s9nlTkwuOTqdA==" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SCE.MainGear.Service.Properties.Settings>
      <setting name="SCE_MainGear_Service_com_shoppingcartelite_api_sceApi"
        serializeAs="String">
        <value>https://api.shoppingcartelite.com/master/sceapi.asmx</value>
      </setting>
    </SCE.MainGear.Service.Properties.Settings>
  </applicationSettings>
</configuration>