<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCE.MainGear.DAL.Properties.Settings.MainGearConnectionString"
            connectionString="Data Source=DESKTOP-7Q7LP3A;Initial Catalog=MainGear;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
      <!--<add name="SCE.MainGear.DAL.Properties.Settings.MainGearConnectionString" connectionString="Data Source=(local);Initial Catalog=MainGearWidget;User ID=sa;Password=welcome123"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>